/* Fondo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/fondo-azul-monton-abejas-flores_1034559-77683.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Necesario para posicionar el overlay */
    transition: background-color 1s, background-image 1s ease-out; /* Transiciones suaves */
}

/* Capa de oscurecimiento para la imagen de fondo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa semi-transparente oscura */
    opacity: 0; /* Invisible por defecto */
    transition: opacity 1s ease; /* Transición suave */
    z-index: 0; /* Asegura que la capa oscura esté en el fondo */
}

/* Tema oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    background-image: none; /* Elimina el background-image */
}

/* Cuando está en modo oscuro, hacemos visible el overlay */
body.dark-mode::before {
    opacity: 1; /* Hacemos visible la capa oscura */
}

/* Aseguramos que el contenedor y el botón siempre estén sobre el fondo oscuro */
.container, .celebrate-btn {
    position: relative; /* Esto asegura que estén encima de la capa oscura */
    z-index: 1; /* Mantiene el contenido visible sobre el fondo oscuro */
}

/* Contenedor principal */
.container {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

/* Botón */
.celebrate-btn {
    background-color: #003cff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.celebrate-btn:hover {
    background-color: #FF8C00;
}

/* Imagen del meme */
.meme-image {
    display: none; /* Oculta la imagen inicialmente */
    width: 50%;  /* Ajusta el tamaño si es necesario */
    height: auto;
    border-radius: 10px;
    margin: auto;
}


.fondito {
    background-repeat: no-repeat;
    background-size: cover;
}